* {
    margin: 0 ;
    padding: 0 ;
}

:root {
	--darkBlue: #2E0079 ;
	--semiLightBlue: #006ECF ;
	--lightBlue: #00BDD3 ;
	--purple: #970070 ;
	--pink: #D7225C ;
	--salmon: #F96F48 ;
	--orange: #FFB547 ;
	--yellow: #F9F871 ;
	--gradientBlueBlack: linear-gradient(to right bottom, #2e0079, #3e004e, #35002c, #230015, #000000) ;
	--gradientBlueBlack2: linear-gradient(to right bottom, #006ecf, #52488e, #4b2b53, #2e1826, #000000) ;
	--gradientOrangePurple: linear-gradient(to left top, #970070, #c72563, #e85354, #fb8448, #ffb547) ; 
	--gradientPinkBlack: linear-gradient(to right bottom, #970070, #730c4e, #4e1131, #2b0f1a, #000000) ;
	--gradientBluePink: linear-gradient(to right bottom, #2e0079, #6c0077, #980070, #bb0067, #d7225c) ;
}

body {
	background-image: #fff ;
}

.container {
	display: grid ;
	width: 100% ;
}
/* Barra principal */
header {
	width: 100% ;
	background-image: var(--gradientBlueBlack2) ;
	display: flex ;
	align-items: center ;
	justify-content: space-around ;
	padding: 0.5rem 0 ;
	height: 10rem ;
}

header h2 {
	width: 60% ;
	font-size: 2.5rem ;
	margin-bottom: 0.5rem ;
	color: #fff ;
}

header #icons {
	display: flex ;
	width: 20% ;
	justify-content: space-between ;
	flex-wrap: wrap ;
	margin: 0 0 0 5% ;
}

header #icons p {
	display: flex ;
	justify-content: space-around ;
	font-size: 2.5rem ;
	color: #fff ;
}

header #icons p #mode {
	color: var(--orange) ;
	padding: 0 5rem ;
}

/* Contenido principal */

h3 {
	width: 60% ;
	margin: 10% 20% ;
	font-size: 5rem ;
	text-align: center ;
}

/* Imágen de API */

#element {
	width: 100% ;
	display: flex ;
	justify-content: center ;
	align-items: center ;
	flex-wrap: wrap ;
}

#element figure {
	position: relative ;
	cursor: pointer ;
	width: 80% ;
	overflow: hidden ;
	box-shadow: 0 1em 2em rgba( 0, 0, 0, 0.5 ) ;
	border-radius: 1rem ;
}

#element figure img {
	width: 100% ;
	transition: all 1s linear ; 
	will-change: transform ;
}

#element figure #photo {
	position: absolute ;
	top: 100% ;
	width: 100% ;
	height: 100% ;
	background: rgba( 0, 0, 0, 0.5 ) ; 
	transition: all 0.5s ease-in ; 
	opacity: 1 ;
	visibility: hidden ;
	text-align: center ;
	backdrop-filter: blur(0) ;
}

#element figure:hover > img {
	filter: blur(0.6rem) ;
}

#element figure:hover > #photo {
	opacity: 0.5 ;
	top: 0 ;
	visibility: visible ;
	backdrop-filter: blur(0.5rem) ;
}

#element figure:hover > #photo h2 {
	opacity: 1 ;
	margin: 5rem ;
}

#element figure #photo h2 {
	color: var(--semiLightBlue) ;
	font-size: 3rem ;
	font-weight: 400 ;
	opacity: 1 ;
	transition: all 2s ease-in-out ;
}

#element figure #photo h4 {
	color: #fff ;
	font-size: 2.5rem ;

}

#element figure #photo p {
	margin: 0 10% ;
	font-size: 1.2rem ;
	color: #fff ;
	opacity: 1 ;
	padding: 3rem ;
}

/* Pie de página */

footer {
	display: flex ;
	width: 100% ;
	margin: 2rem 0 ;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.2) ;
	position: relative ;
}

