* {
    margin: 0 ;
    padding: 0 ;
}

:root {
	--darkBlue: #2E0079 ;
	--purple: #970070 ;
	--pink: #D7225C ;
	--salmon: #F96F48 ;
	--orange: #FFB547 ;
	--yellow: #F9F871 ;
	--gradientBlueBlack: linear-gradient(to right bottom, #2e0079, #000000) ; /* linear-gradient(to right bottom, #2e0079, #3e004e, #35002c, #230015, #000000); Añadir en caso de mejorar el gradiante. */
	--gradientOrangePurple: background-image: linear-gradient(to left top, #970070, #ffb547) ; /*background-image: linear-gradient(to left top, #970070, #c72563, #e85354, #fb8448, #ffb547); Añadir en caso de mejorar el gradiante. */
}

body {
	background-image: linear-gradient(to right bottom, #2e0079, #3e004e, #35002c, #230015, #000000) ;
}